.contact form {
  display: flex;
  flex-direction: column;
}

.contact form input,
.contact form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact form input,
.contact form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact form input:focus,
.contact form textarea:focus {
  border-color: #ff5733;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 87, 51, 0.5);
}

.contact form button {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact form button:hover {
  background-color: #ff5733;
}

.contact form input.error,
.contact form textarea.error {
  border-color: red;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

#form-messages {
  margin-top: 20px;
  font-size: 1.2em;
  color: #fff;
  text-align: center;
}

.error {
  /* color: #f44336;
  background-color: #ffd6d6; */
  color: white;
  background-color: #f44336;
  padding: 10px;
  border-radius: 5px;
}

.success {
  /* color: #4caf50;
  background-color: #d6ffd6; */
  color: white;
  background-color: #4caf50;
  padding: 10px;
  border-radius: 5px;
}

.success-message,
.error-message {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

.success-message {
  background-color: #4caf50;
}

.error-message {
  background-color: #f44336;
}
